/* .contact{
    display: inline;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f2f2f2;

} */
/* .fill{
    background-color: #0080ff;
    padding: 20px;
    margin: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.1);
} */

/* .contact .fill ul{
    list-style: none;
    padding: 0;
    margin: 0;
} */